@use '../../color';

.container{
    position: relative;
    width: 400px;
    padding: 20px;
}
.header_login{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    margin-bottom: 10px;
    
    h2{
        margin-bottom: 8px;
    }
}
.alert_message{
    position:  absolute;
    top: 110px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    color: red;
    font-size: 13px;
    line-height: 13px;
    text-align: center;

}