@use "../../../color";

.header {
   display: flex;
   flex-flow: column wrap;
   gap: 3;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-inline: auto;
   h1,
   h2 {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
   }
   h2 {
      color: #000;
   }
   h1 {
      font-size: 32px;
      color: color.$blue;
   }
}
.card_information {
   display: flex;
   flex-flow: row wrap;
   row-gap: 10px;
   width: 75%;
   font-size: 14px;
   > div {
      padding: 0 10px;
      width: 25%;

      &:nth-last-child(4) {
         width: 50%;
      }
   }
}
