@use "../../color";

.header {
   display: flex;
   flex-flow: column wrap;
   gap: 3;
   margin-top: 20px;
   margin-bottom: 30px;
   h1,
   h2 {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
   }
   h1 {
      color: #000;
   }
   h2 {
      color: color.$blue;
   }
}
.card_information {
   display: flex;
   flex-flow: row wrap;
   row-gap: 10px;
   > div {
      padding: 0 10px;
      width: 25%;

      &:last-child {
         width: 50%;
      }
   }
}
.container_data_privacy {
   margin-top: 10px;
   padding: 0 20px;

   article{
      margin-bottom: 10px;
      h2{
         font-size: 18px;
         font-weight: 500;
         color : color.$blue
      }
      p{
         margin-bottom: 5px;
      }
      p, ol{
         text-align: left;
         margin-left: 15px;
         font-size: 14px;
      }
      ol{
         margin-left: 40px;
         li{
            list-style: decimal;
            line-height: 25px;
         }
      }
   }
}
