@use "../../../color";

.container {
   display: flex;
   flex-flow: row nowrap;
   height: 100vh;
}

.module {
   color: #ffffff;
   margin-top: 50px;
   li {
      a {
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         gap: 10px;
         padding: 10px;
      }

      &:hover {
         background-color: #ffffff;

         a {
            color: #000000;
         }
      }
   }
}
.active_lnk {
   background-color: #ffffff;

   a {
      color: #000000;
   }
}
.menu {
   transition: width 0.5s;
   > div {
      > div {
         display: flex;
         flex-flow: row nowrap;
         align-items: flex-start;
         color: #ffffff;
         padding: 16px;
         width: 100%;
         transition: all 0.5s;

         button {
            margin-left: auto;
         }
      }
   }
}
.actv_menu {
   width: 20%;
}
.inactv_menu {
   width: 5%;
}

.inactv_header {
   h1 {
      display: none;
   }
}
.in_actv_mnu {
   align-items: center;
   justify-content: center;
   font-size: 22px;
   > span {
      &:last-child {
         display: none;
      }
   }
}
.schedules {
   display: flex;
   flex-flow: column nowrap;

   width: 95%;
   margin: 0 auto;
   h2 {
      color: color.$blue;
      font-size: 16px;
      margin-bottom: 10px;
   }

   ul {
      padding: 0 10px;
      li {
         font-size: 14px;
         margin-bottom: 10px;
         word-spacing: 2px;
         padding: 3px 0;
         border-bottom: 1px solid color.$blue;
      }
   }

   button {
      margin-left: auto;
      color: rgba(128, 128, 128, 0.8);

      &:hover {
         text-decoration: underline;
      }
   }
}
