@use "../../color";

.container {
   width: 25%;
   height: 250px;

   > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
      height: 100%;
      cursor: pointer;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      container-type: inline-size;
      h1 {
         text-align: center;
         color: color.$blue;
         font-size: 9cqi;
         font-weight: 600;
         padding: 0 5px;
      }

      &:hover {
        transform: scale(1.02);
      }

      img{
         position: absolute;
         z-index: -1;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
      }
   }
}
