.actionContainer {
   width: 100% !important;
   display: flex;
   justify-content: center !important;
   align-items: center !important;
   padding: 0 20px !important;
   margin: 1em auto 0;
}
.container {
   z-index: 9999 !important;
   font-size: 12px !important;
}
.cancelButton {
   font-size: 12px !important;
   background-color: red !important;
   padding: 5px 20px !important;
}
.confirmButton {
   font-size: 12px !important;
   padding: 5px 20px;
}
.containerAlert {
   max-width: 20em;
   width: 100%;
   border-radius: 1rem;
}
.ValidationMessage {
   font-size: 12px !important;
   color: #000;
   font-weight: 600;
   font-size: 13px;
}
.iconAlert {
   font-size: 10px !important;
}

.title {
   font-size: 18px !important;
   font-weight: 500px;
}
