@use "../../../../color";

.my_message,
.unsent_message,
.unsent_message_ {
   display: flex;
   align-items: center;

   width: 100%;
   position: relative;
   font-size: 14px;
   p {
      background-color: color.$blue;
      color: #ffffffff;
      padding: 4px 12px;
      border-radius: 14px;
      max-width: max-content;
   }
   .delete_message {
      color: rgb(255, 0, 0);
      cursor: pointer;
      display: none;
   }

   &:hover {
      .delete_message {
         display: block;
      }
   }
}
// sender message
.message {
   display: flex;
   align-items: start;
   position: relative;

   p {
      background-color: rgba(128, 128, 128, 0.814);
      color: #ffffffff;
      padding: 4px 12px;
      border-radius: 14px;
      max-width: max-content;
   }
}
.unsent_message_ {
   justify-content: start;
}
.my_message,
.unsent_message {
   justify-content: end;
}
.my_message,
.message {
   .message_gap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;

      position: absolute;
      bottom: 99%;
      left: 0;
      right: 0;

      text-align: center;
      font-size: 10px;
      color: rgba(128, 128, 128, 0.641);
   }

   .status_message {
      position: absolute;
      top: 100%;
      right: 10px;

      font-size: 10px;
      color: rgba(128, 128, 128, 0.641);
   }

   hr {
      border-bottom: 1px solid rgba(128, 128, 128, 0.641);
      width: 25%;
   }
}
.unsent_message,
.unsent_message_ {
   span {
      color: gray;
      padding: 4px 12px;
      border: 1px solid rgba(128, 128, 128, 0.569);
      width: max-content;
      border-radius: 14px;
      font-size: 14px;
   }
}

.image_upload {
   display: flex;
   gap: 10px;
   overflow-x: auto;
   overflow-y: hidden;
   max-height: 100px;

   div {
      position: relative;
      max-width: 100px;
      img {
         max-width: 100px;
         height: 100%;
      }
      button {
         position: absolute;
         top: 2px;
         right: 2px;
         color: color.$blue;
         z-index: 9999;
      }
   }
}
.docs_file {
   display: grid;
   justify-content: center;
   align-items: center;
   a {
      font-size: 12px;
      padding: 3px 5px;
      border-radius: 5px;
      background-color: rgba(128, 128, 128, 0.394) !important;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      transition: transform ease-in-out 0.5s;
      &:hover {
         color: color.$blue;
         transform: scale(1.1);
      }
   }
}
.message_files {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   column-gap: 5px;
   row-gap: 5px;
   width: 100%;

   img,
   video {
      &:hover {
         cursor: pointer;
      }
      border-radius: 10px;
   }
}
