$dark: #313131;
$darkVar: #1a1a1a;

$dark2: rgba(0, 0, 0, 0.2);
$dark3: rgba(0, 0, 0, 0.3);
$dark4: rgba(0, 0, 0, 0.4);
$dark5: rgba(0, 0, 0, 0.5);
$darkHalf: rgba(0, 0, 0, 0.5);
$dark6: rgba(0, 0, 0, 0.6);
$dark7: rgba(0, 0, 0, 0.7);
$dark8: rgba(0, 0, 0, 0.8);
$dark9: rgba(0, 0, 0, 0.9);

$light: #dfdfdf;
$lightVar: #f7f7f7;
$light2: rgba(255, 255, 255, 0.2);
$light3: rgba(255, 255, 255, 0.3);
$light4: rgba(255, 255, 255, 0.4);
$light5: rgba(255, 255, 255, 0.5);
$lightHalf: rgba(255, 255, 255, 0.5);
$light6: rgba(255, 255, 255, 0.6);
$light7: rgba(255, 255, 255, 0.7);
$light8: rgba(255, 255, 255, 0.8);
$light9: rgba(255, 255, 255, 0.9);

$color1: #474554;

$color2: #faf7ff;

$color3: #5e5b7b;

$color4: #8685ef;

$color5: #4382d4c4;

$color6: #a2bace;

$blue: #004e8f;
$blueLight: #2b90f9;

$yellow: #ebf94a;

$blueBG4: rgb(206, 223, 244, 0.4);
$blueBG5: rgb(206, 223, 244, 0.5);
$blueBG6: rgb(206, 223, 244, 0.6);
$blueBG7: rgb(206, 223, 244, 0.7);
$blueBG: #cedff4;

$blue2: #75a5e1;
$blue3: #5691d9;

$red: #d63031;
$redLight: #ff7675;

$green: #00b894;
$greenLight: #55efc4;
