body{
  height: 100vh;
}
.word-wrap {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.line-clamp-1{

  -webkit-line-clamp: 1;
}
.line-clamp-2{

  -webkit-line-clamp: 2;
}
