@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.wrap {
   max-width: 1400px;
   width: 100%;
   margin: 0 auto;
}
html::-webkit-scrollbar {
   display: none;
}
body {
   font-family: "Roboto", sans-serif;
   scroll-behavior: none;
}
section.page-features h4,
section.page-features p,
section.page-topic h4,
section.page-topic p {
   word-wrap: break-word;
   white-space: normal;
   overflow: hidden;
   display: -webkit-box;
   text-overflow: ellipsis;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
}

footer h1 {
   font-family: "Lobster, cursive";
}
footer ul li {
   margin: 10px 0;
}
footer ul {
   display: grid;
   grid-template-columns: 25% 25%;
}
.swal2-actions {
   font-size: 14px !important;
}
.swal2-actions .swal2-confirm {
   background-color: #2b90f9 !important;
   box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}
input[type="file"] {
   border: none;
   padding-top: 0;
   padding-left: 0;
}
input[type="file"]::file-selector-button {
   font-size: 12px;
   border: none;
   background: #2b90f9;
   color: #fff;
   cursor: pointer;
   padding: 5px;
   border-radius: 5px;
}
.popoverStyle .popover-header {
   background-color: #2b90f9;
   color: white;
   font-size: 14px;
}
.apexcharts-canvas {
   margin: 0 auto !important;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

@media (max-width: 768px) {
   .fc .fc-header-toolbar,
   .fc .fc-col-header-cell-cushion,
   .fc .fc-daygrid-day-number {
      font-size: 12px;
   }
}
