@use "../../../../../../color";

.header_post {
   display: flex;
   flex-flow: row nowrap;

   h1 {
      font-weight: 600;
      font-size: 22px;
      margin: 0 auto;
   }
   button {
      color: rgba(128, 128, 128, 0.6);
      font-size: 24px;
   }
   border-bottom: 2px solid color.$blue;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
